/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-7-29, 13:47:09
    Author     : wing
*/
.bordered {
  border: dotted 1px transparent;
}
.admin_left {
  width: 16%;
  float: left;
  height: auto;
  min-height: 100px;
  border: dotted 1px transparent;
}
.admin_left .pd_side_bar {
  width: 100%;
}
.admin_left .pd_side_bar ul {
  list-style: none;
  padding-left: 0px;
}
.admin_left .pd_side_bar li {
  background-color: #f8f6f6;
  height: 40px;
  line-height: 40px;
  margin-bottom: 2px;
  padding-left: 30px;
  font-size: 14px;
}
.admin_left .pd_side_bar li a {
  text-decoration: none;
}
.admin_left .pd_side_bar li a:hover {
  color: #c01f23;
}
.admin_left .pd_side_bar .left_target {
  background: url('/bundles/malfunctionhome/images/left_target.png') no-repeat 0 0 #f8f6f6;
  font-weight: bold;
}
.admin_right {
  width: 83%;
  float: right;
  min-height: 600px;
  margin-top: 1px;
  background-color: #f8f6f6;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 25px;
  border: dotted 1px transparent;
}
.admin_right .admin_right_content {
  width: 100%;
  clear: both;
  height: auto;
}
.admin_right .admin_right_content .admin_handle_filter {
  font-size: 16px;
  width: 100%;
  text-align: left;
}
.admin_right .admin_right_content .admin_handle_filter h3 {
  font-size: 20px;
}
.admin_right .admin_right_content .admin_handle_filter span {
  margin-left: 30px;
}
.admin_right .admin_right_content .admin_handle_filter .building_filter {
  padding-top: 8px;
  min-height: 40px;
  background-color: #ede8e8;
}
.admin_right .admin_right_content .admin_handle_filter .building_filter label {
  width: 60px;
  margin-left: 8px;
}
.admin_right .admin_right_content .admin_handle_filter .building_filter span {
  margin-right: 42px;
}
.admin_right .admin_right_content .admin_handle_filter .status_filter {
  margin-top: 1px;
  padding-top: 8px;
  height: 40px;
  background-color: #ede8e8;
}
.admin_right .admin_right_content .admin_handle_filter .status_filter label {
  width: 80px;
  margin-left: 20px;
}
.admin_right .admin_right_content .admin_handle_filter .status_filter span {
  margin-right: 14px;
}
.admin_right .admin_right_content .admin_handle_filter .view_search {
  margin-top: 1px;
  padding-top: 8px;
  height: 40px;
  text-align: left;
}
.list_first_col label {
  padding-left: 4px;
}
.list_first_col label span {
  text-align: right;
}
.formHideTxt {
  display: none;
}
.formHidePage {
  display: none;
}
.delete_button {
  margin-bottom: 11px;
  margin-top: -10px;
  padding-left: 8px;
  padding-right: 8px;
}
.delete_button.disabled {
  margin-bottom: 11px;
  margin-top: -10px;
  color: #606060;
}
.delete_button.disabled:active,
.delete_button.disabled:hover {
  color: #404040;
}
.pagination {
  margin: 12px 0px 0px 0px;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding-left: 10px;
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: gray;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-centered {
  text-align: center;
}
.page-dot {
  background-color: #ffffff;
}
.page-dot:hover {
  background-color: #e5e5e5;
}
.page-dot:active {
  background-color: #e5e5e5;
}
.page-select {
  background-color: #2ECC71;
}
.page-select:hover {
  background-color: #29b765;
}
.check_disabled {
  color: gray;
}
label {
  font-weight: normal;
}
.personal-info {
  width: 100%;
  padding: 50px;
  font-size: 16px;
}
.personal-info table {
  margin-left: 40px;
}
.personal-info table td {
  padding: 6px;
}
.personal-info table td input {
  width: 250px;
}
.personal-info .info_submit {
  margin-top: 10px;
  margin-left: 60px;
}
.personal-info .info_tip {
  margin-left: 45px;
  display: none;
  color: green;
}
.personal-info .error {
  color: red;
}
.users-info {
  width: 100%;
  padding: 30px 15px 30px 15px;
  font-size: 14px;
}
.users-info .bordered_td {
  border: 1px #c0c0c0 solid;
}
.users-info table {
  width: 100%;
}
.users-info table .center {
  text-align: center;
}
.users-info table .highlight:hover {
  background-color: #2ECC71;
}
.users-info table th {
  border: 1px #c0c0c0 solid;
  padding: 8px;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  background-color: #E0E0E0;
}
.users-info table td {
  border: 1px #c0c0c0 solid;
  padding: 6px;
}
.users-info #add_user {
  margin-top: 20px;
}
.hideinfo_add {
  display: none;
}
.button-handle {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 26px;
  line-height: 26px;
  border-color: #5a8200;
  color: black;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
  font-style: normal;
}
.button-handle:hover {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
  background-color: #7db500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -o-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(top, #a0e800, #6b9c00);
}
.button-handle:active,
.button-handle:focus {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
  background: #76a312;
}
.button-cancel-all-add {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 26px;
  line-height: 26px;
  border-color: #5a8200;
  color: black;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}
.button-cancel-all-add:hover {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
  background-color: #7db500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -o-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(top, #a0e800, #6b9c00);
}
.button-cancel-all-add:active,
.button-cancel-all-add:focus {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
  background: #76a312;
}
.button-cancel-all {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 26px;
  line-height: 26px;
  border-color: #5a8200;
  color: black;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}
.button-cancel-all:hover {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
  background-color: #7db500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -o-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(top, #a0e800, #6b9c00);
}
.button-cancel-all:active,
.button-cancel-all:focus {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
  background: #76a312;
}
#first_report {
  margin-left: 50px;
}
.statistics_title {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 18px;
}
.classroom_add {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  width: 95%;
  border: solid 1px #e8e8e8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
}
.classroom_add .block_title {
  font-size: 17px;
}
.classroom_add .classroom_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.classroom_add .building_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.classroom_add .normal_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.classroom_add .error {
  color: red;
}
.classroom_add hr {
  margin: 8px 0px 8px 0px;
  color: #e08080;
}
.classroom_add table {
  width: 100%;
}
.classroom_add table td {
  padding: 5px;
}
.classroom_add table td select {
  width: 150px;
}
.classroom_add table td input {
  width: 150px;
}
.building_add {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  width: 95%;
  border: solid 1px #e8e8e8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
}
.building_add .block_title {
  font-size: 17px;
}
.building_add .classroom_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.building_add .building_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.building_add .normal_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.building_add .error {
  color: red;
}
.building_add hr {
  margin: 8px 0px 8px 0px;
  color: #e08080;
}
.building_add table {
  width: 100%;
}
.building_add table td {
  padding: 5px;
}
.building_add table td select {
  width: 150px;
}
.building_add table td input {
  width: 150px;
}
.normal_mal_add {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  width: 95%;
  border: solid 1px #e8e8e8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
}
.normal_mal_add .block_title {
  font-size: 17px;
}
.normal_mal_add .classroom_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.normal_mal_add .building_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.normal_mal_add .normal_tip {
  font-size: 16px;
  color: #107308;
  margin-left: 40px;
  font-style: italic;
  display: none;
}
.normal_mal_add .error {
  color: red;
}
.normal_mal_add hr {
  margin: 8px 0px 8px 0px;
  color: #e08080;
}
.normal_mal_add table {
  width: 100%;
}
.normal_mal_add table td {
  padding: 5px;
}
.normal_mal_add table td select {
  width: 150px;
}
.normal_mal_add table td input {
  width: 150px;
}
.normal_mal_add table td input {
  width: 412px;
}
.normal_mal_add table td select {
  width: 412px;
}
