/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-7-15, 12:33:39
    Author     : wing
*/
body {
  font-family: "宋体", 'samsun';
  width: 100%;
  font-size: 14px;
  min-width: 960px;
  background-color: #e5e5e5;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #101010;
}

ul,li {
  padding: 0;
  margin: 0;
}

//#main {
 // width: 100%;
 // height: auto;
 // min-width:1080px; 
//}

#main {
  width: 100%;
  height: auto;
  max-width:1080px;
  min-width:640px;
  margin:0 auto;
}
/* 页面头部样式 */
#header {
  width: 100%;
  background-color: #4c8d68;
  overflow: hidden;
}

.center_content{
  width: 1080px;
  margin: 0 auto;
}

#header .logo {
  float: left;
}

#header , #header  ul, #header  ul li {
  float: left;
}

#header ul li {
  display: block;
  margin: 0 10px;
  line-height: 80px;
  font-size: 18px;
  font-weight: bold;
}
#header  ul li a {
  display: block;
  height: 80px;
  color: #fff;
  text-decoration: none;
}
#header ul li a:hover{
  color: #fff;
  border-bottom: 3px solid #fff;
  text-decoration: none;
}
#header ul li a:linked,
#header  ul li a:focus{
  text-decoration: none;
}

#header .user_info {
  float: right;
  margin-right: 20px;
  margin-top: 24px;
}

#header .user_info .button-flat1 {
  background-color: transparent;
  font-weight: bold;
  color: white;
}

#header .user_info .button-flat1:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* 页面中部样式 */
#middle {
  //width: 1080px;
   width: 100%;
  margin: 10px auto;
  overflow: hidden;
}
#middle .admin_right, #middle .pd_side_bar li {
  background-color: #fff;
}

#leftside {
    width: 202px;
    float: left;
    min-height: 400px;
    padding: 0px 0px 0px 42px;
}

.admin_right h2 {
  margin: 0px;
  font-size: 18px;
  margin: 20px 0 15px;;
  text-align: center;
  color: #000;
  font-weight: bolder;
}
.admin_right p {
  font-size: 14px;
  line-height: 2;
}
.admin_right .button-flat2 {
  display: block;
  width: 100px;
  margin: 10px auto 0;
  background-color: #ccc;
}

/* 页面尾部样式 */
#footer {
  //width: 1080px;
    width: 100%;
  margin: 30px auto 0;
  text-align: center;
}
.admin_right .content {
    /*text-align: center;*/
}
table {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
table tr:nth-child(2n) {
    background-color: #eee;
}
table tr td {
    border: 1px solid #666;
    padding: 5px 10px;
}
.signup_link:link,.signup_link:visited , .dissign_link:link, .dissign_link:visited {
    display: block;
    padding: 0 10px;
    color: blue;
    text-decoration: underline;
}
.highlight {
    color: #cd0a0a;
}
.profile_item {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #666;
    border-bottom: none;
}
.profile_item:nth-child(2n) {
    background-color: #eee;
}
.profile_item:last-child {
    border-bottom: 1px solid #666;
}
.profile_item label {
    width: 4em;
    border-right: 1px solid #666;
    text-align: right;
    margin-bottom: 0;
    padding: 5px 10px;
    
}
#fos_user_registration_form label, #fos_user_profile_form label {
   width: 6em; 
   text-align: right;
   margin-right: 10px;
}

label.required {
    display: inline-block;
    position: relative;
    padding-right: 8px; 

}
label.required:after {
    content: '*';
    display:block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
}
label[for='fos_user_registration_form_gender_0'], label[for='fos_user_registration_form_gender_1']
,label[for='fos_user_profile_form_gender_0'], label[for='fos_user_profile_form_gender_1']{
    width: 1em !important;
}
label[for='fos_user_registration_form_gender_0']:after, label[for='fos_user_registration_form_gender_1']:after
,label[for='fos_user_profile_form_gender_0']:after, label[for='fos_user_profile_form_gender_1']:after{
    content: '';
}
#fos_user_registration_form_gender,#fos_user_profile_form_gender,.fos_user_resetting_request #username {
    display: inline-block;
}
.fos_user_resetting_request div:first-child {
    width: 100%;
}
#fos_user_registration_form>div,.regist_submit, #fos_user_profile_form+div input[type='submit'] {
    margin-top: 10px;
}
.regist_submit , #fos_user_profile_form+div input[type='submit']{
    margin-left: 130px;
}
.fos_user_profile_edit {
    margin: 0 auto;
}
@-webkit-keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
@-ms-keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
@-moz-keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
@-ms-keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
@-o-keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
@keyframes glowing {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 104, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(219, 154, 44, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(219, 154, 44, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
.button-flat1 {
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #f8f8f8;
  border: none;
  text-shadow: none;
  border: 0px solid #d4d4d4;
  padding: 0px 8px;
  color: gray;
}
.button-flat1:hover {
  background: #fbfbfb;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing;
  color: #c01f23;
}
.button-flat1:active {
  background: #eeeeee;
  color: #808080;
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #ffffff;
}
.button-flat2 {
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #f8f8f8;
  border: none;
  text-shadow: none;
  border: 0px solid #d4d4d4;
  padding: 0px 8px;
  color: gray;
  color: black;
}
.button-flat2:hover {
  background: #fbfbfb;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing;
  color: #c01f23;
}
.button-flat2:active {
  background: #eeeeee;
  color: #808080;
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #ffffff;
}
.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing;
}

.about_table{
    width: 40%;
    margin-left: 127px;
}
.about_table td{
  padding: 6px;
  border: solid 1px #000000;
}
.liantu{
    width: 200px;
}

.fos_user_registration_register {
    font-size: 20px;
    padding-left: 100px;
}

/*.fos_user_registration_register label{
    width:  80px;
}

.fos_user_registration_register input[type='submit']{
    
    width: 100px;
}

.fos_user_registration_register input[type='text']{
    
    width: 70%;
}


#fos_user_registration_form_username input[type='text']{
    
    width: 35%;
}

#fos_user_registration_form_gender {
    display: inline;
}




.fos_user_profile_edit {
    font-size: 20px;
    padding-left: 100px;
}

.fos_user_profile_edit label{
    width:  80px;
}

.fos_user_profile_edit input[type='submit']{
    
    width: 100px;
}

.fos_user_profile_edit input[type='text']{
    
    width: 70%;
}

#fos_user_profile_form_username input[type='text']{
    
    width: 35%;
}

#fos_user_profile_form_gender {
    display: inline;
}

.fos_user_profile_edit input[type='text']{
    
    width: 70%;
}*/













.fos_user_resetting_request {
    font-size: 14px;
    padding-left: 100px;
    box-sizing: border-box;
    width: 35%;
}