{# app/Resources/views/Emails/registration.html.twig #}
<h3>Hello {{user.getName() }}老师! 这是功能测试邮件，请勿回复!</h3>
中心将于X年X月举办XXX活动，如果您有兴趣，愿意参加，请点击此链接<a href="http://ctl.ustc.edu.cn/registration/participated/{{user.getEmail()}}">参加</a>.
{# example, assuming you have a route named "login" $}
To login, go to: <a href="{{ url('login') }}">...</a>.

Thanks!
participated
{# Makes an absolute URL to the /images/logo.png file #}


