{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'introduction' %}
{% block title %}会议简介{% endblock %}
{% block stylesheets_child %}
{% endblock %}

{% block content %}
 <div class="primary">
    <div class="content">
        <h2>讲座题目：课堂教学方案的设计与实施</h2>
        <p>陈庆章，男，浙江工业大学教授，博士，博士生导师。计算机网络与多媒体研究所所长，计算机网络教学团队负责人，计算机科学与技术省重点专业负责人。</p>

        <p>曾获荣誉：省高校中青年学科带头人、浙江工业大学首届十佳讲课教师、浙江工业大学首届十佳研究生“我心目中的好导师”、浙江省优秀教育工作者。</p>

        <p>科研工作：2项国家自然科学基金、4项省自然科学基金、3项省重大科技专项、2项省公益计划项目；12项国家授权发明专利；省科技进步奖二等1项，省自然科学二等奖1项。</p>

        <p>教学建设：2项省新世纪教学改革项目；3本省重点教材，1本国家“十一五”规划教材；1门省精品课程；3项国家大学生创新实验计划项目、4项省新苗计划项目。</p>

        <p>学术组织：中国计算机学会杰出会员，中国计算机学会高级会员，中国计算机学会协同计算专委会常委、教育专委会委员；全国计算机教育研究会理事；浙江省计算机应用与教育学会物联网专委会主任；浙江省计算机教学研究会副理事长，浙江省高校第一和第二届计算机教学指导委员会副主任，浙江工业大学教学委员会委员。</p>
        <p>担任国家科技进步奖、国家技术发明奖评审专家。</p>
        <div class="regist"><a href="{{ path('fos_user_registration_register') }}"  class="btn" >注册参会</a></div>
    </div>
  </div>

{% endblock %}
