.loginForm_content{
    text-align: center;
}
.login_item {
    margin: 8px 0;
}
.login_item label {
    width: 6em;
    text-align: right;
}
.submit_btn, .forget_pass {
    font-size: 16px;
    line-height: 1;
    background-color: #eee;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.fieldset_submit{position:relative;}


.fieldset_submit a{position:absolute; top:0px;}

/*.wrap { 
    margin: 130px auto; 
    width:380px; 
    overflow:hidden; 
    font-size: 16px;
    font-family: sans-serif;
} 
.loginForm { 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2); 
    position:absolute; 
    z-index:0; 
    background-color:#FFF; 
    border-radius:4px; 
    height:300px; 
    width:380px; 
    background: -webkit-gradient(linear, left top, left 24, from(#f4f0f0), color-stop(4%, #f8f6f6), to(#f4f0f0)); 
    background: -moz-linear-gradient(top, #f4f0f0, #f8f6f6 1px, #f4f0f0 24px); 
    background: -o-linear-gradient(top, #f4f0f0, #f8f6f6 1px, #f4f0f0 24px); 
} 
.loginForm:before { 
    content:''; 
    position:absolute; 
    z-index:-1; 
    border:1px dashed #CCC; 
    top:5px; 
    bottom:5px; 
    left:5px; 
    right:5px; 
    box-shadow: 0 0 0 1px #FFF; 
} 
.loginForm h1 { 
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5); 
    text-transform:uppercase; 
    text-align:center; 
    color:#444; 
    line-height:3em; 
    margin: 25px 0 10px 0; 
    letter-spacing:4px; 
    font:normal 26px/1 Microsoft YaHei, sans-serif; 
} 

.loginForm_content{
    margin-left: 45px;
}

fieldset { 
    border:none; 
    padding:10px 10px 0; 
} 
fieldset input[type=text], fieldset input[type=password] { 
    width:100%; 
    line-height:1.5em; 
    font-size:16px; 
    border:none; 
    padding:3px 4px 3px 1.2em; 
    width:200px; 
} 
fieldset input[type=submit] { 
    text-align:center; 
    padding:2px 20px; 
    line-height:2em; 
    border:1px solid #FF1500; 
    border-radius:3px; 
    background: -webkit-gradient(linear, left top, left 24, from(#FF6900), color-stop(0%, #FF9800), to(#FF6900)); 
    background: -moz-linear-gradient(top, #FF6900, #FF9800 0, #FF6900 24px); 
    background: -o-linear-gradient(top, #FF6900, #FF9800 0, #FF6900 24px); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800', endColorstr='#FF6900'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800', endColorstr='#FF6900')"; 
    height:30px; 
    cursor:pointer; 
    letter-spacing: 4px; 
    margin-left:10px; 
    color:#FFF; 
    font-weight:bold; 
    font-size: 14px;
} 
fieldset input[type=submit]:hover { 
    background: -webkit-gradient(linear, left top, left 24, from(#FF9800), color-stop(0%, #FF6900), to(#FF9800)); 
    background: -moz-linear-gradient(top, #FF9800, #FF6900 0, #FF9800 24px); 
    background:-o-linear-gradient(top, #FF6900, #FF6900 0, #FF9800 24px); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6900', endColorstr='#FF9800'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6900', endColorstr='#FF9800')"; 
} 
.inputWrap { 
    background: -webkit-gradient(linear, left top, left 24, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 24px); 
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 24px); 
    border-radius:3px; 
    border:1px solid #CCC; 
    margin:5px 10px 5px 0; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF')"; 
} 
fieldset input[type=checkbox] { 
    margin-left:10px; 
    margin-bottom: 5px;
    vertical-align:middle; 
} 
fieldset a { 
    color:blue; 
    font-size:16px; 
    margin:6px 0 0 10px; 
    text-decoration:none; 
} 
fieldset a:hover { 
    text-decoration:underline; 
} 
fieldset span { 
    font-size:14px; 
} 
fieldset label { 
    font-size:14px; 
    font-weight: normal;
} 
.fieldset_submit{
    margin-top: 10px;
    
}
.fieldset_submit a{
    margin-left: 20px;
    font-size: 16px;
}

.error_tip{
    color: red;
    margin-left: 10px;
}

.tip{
    font-size: 14px;
    font-style: italic;
    margin-top: 15px;
    margin-left: -8px;
    color: #045f0a;
}*/