{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'index' %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %} 
   <div class="admin_right">
    <div class="content">
        <br>
        <pre>
        <center><b>请联系我们</b></center>
        中国科学技术大学教师教学发展中心   邮箱: ctl_admin@ustc.edu.cn   电话: 0551-63602247
        </pre>
    </div>
   </div>

{% endblock %}

{% block javascripts_child %}
    {% javascripts %}
      
    {% endjavascripts %}
{% endblock %}