{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'index' %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}

    <div class="content">
        <br>
        <pre>
        <center><b>请联系我们</b></center>
        lcrun         email: sa514007@mail.ustc.edu.cn   tel: 15811111111
        
        
        
        </pre>
    </div>


{% endblock %}

{% block javascripts_child %}
    {% javascripts %}
      
    {% endjavascripts %}
{% endblock %}