{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'index' %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
   <div class="admin_right">
    <div class="content">
      {%if conference%}
            {{conference.getDetail|raw}}
      {%else%}
            {{"暂无会议！"}}
      {%endif%}
      <span>下一步&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/registration/notice" style='text-decoration: underline;'>注册会议</a>
    </div>
   </div>


{% endblock %}

