{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'index' %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
   <div class="primary">
    <p>
      {%if conference%}
            {{conference.getDetail|raw}}
      {%else%}
            {{"暂无会议！"}}
      {%endif%}
      </p><br/>
      <p><span>下一步&nbsp;&nbsp;&nbsp;</span><a href="{{ path('_notice') }}" style='text-decoration: underline;'>注册会议</a></p>
    
   </div>


{% endblock %}

