{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'index' %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
   <div class="admin_right">
    <div class="content">
      
        {{confdetail|raw}}
     
    </div>
   </div>


{% endblock %}

