{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'notice' %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
 <div class="admin_right">
    <div class="content">
        <h2>报名须知</h2>
        <p>请您在注册前认真阅读以下注册说明，如果您<span class='highlight'>已经注册过</span>，请您登陆您的个人中心查看/修改您的注册信息。</p>

        <p>1 本次大会<span class='highlight'>只接受在线注册参会</span>。注册后请务必登录个人中心报名参会。已在本会议系统<span class='highlight'>注册过的无需再次注册</span>，直接登录"个人中心"申请参会即可。</p>

        <p>2 注册时所填个人信息，并请确保<span class='highlight'>邮箱</span>输入正确，每个邮箱只能注册一次，且注册后不能更改。</p>

        <p>3 <span class='highlight'>请注意“学校”，“单位”和“职称”处的填写规范</span>，“学校”请写<span class='highlight'>学校全称</span>，如中国科学技术大
        学，并请不要加其他多余字。“单位”请写<span class='highlight'>所在单位</span>，如数学系。“职称”请写<span class='highlight'>职称</span>，如 副教授。</p>

        <p>4 如有问题请参考网站首页上方“联系我们”。</p>

        <a href="/registration/register"  class="button button-rounded button-flat2">注册参会</a>
    </div>
  </div>

{% endblock %}
