
  
{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'handle' %}

{% block title %}邮件告知{% endblock %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
 <div class="admin_right">
    <div class="content">
        <br>
       
        <center><b>感谢您的帮助</b></center>
    
       
       
    </div>
</div>
{% endblock %}


