{% extends 'TwigBundle::layout.html.twig' %}

{% block title %}SignUp{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block body %}
    <div><h1> 会议报名</h1></div>
    
   
        
    {%for conf in conferences%}
        {{conf.getId}} -- {{conf.conferenceName}} -- {{conf.detail}}  <a href="/signup/{{conf.getId}}">报名</a><br>
    {%endfor%}
{% endblock %}

{% block javascripts %}{% endblock %}