{% extends "AcmeUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {%if errorTip%}
        <p>{{errorTip}}</p>
    {%else%}
        <pre>
        <center><b>欢迎报名！</b></center>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
         </pre>
    {%endif%}
{% endblock fos_user_content %}
