{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'index' %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
   <div class="primary">
    <p>
        {%if conference%}
            {{conference.getSchedule|raw}}
        {%else%}
            {{"暂无会议！"}}
        {%endif%}
    </p>
   </div>


{% endblock %}

